<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.code.certificateProcessor.mapper.StudentMapper">
    <select id="getStudentAuth" resultType="Student">
        select studentId,auth from student where studentId=#{studentId}
    </select>

    <insert id="addStudent" parameterType="Student">
        insert into student(studentId,password,name,college,major,auth)
        values(#{studentId},#{password},#{name},#{college},#{major},#{auth})
    </insert>

    <select id="getStudentNameById" resultType="java.lang.String">
        select name from student where studentId = #{studentId}
    </select>

    <select id="getStudentById" resultType="Student">
        select studentId,name,college,major,createdAt,updatedAt
        from student where studentId=#{studentId}
    </select>

    <select id="getLatterStudent" resultType="Student">
        select studentId,name,college,major,createdAt,updatedAt
        from student 
        where studentId &gt; #{studentId}
        order by studentId asc
        limit #{pageSize}
    </select>

    <select id="getPreviousStudent" resultType="Student">
        select studentId,name,college,major,createdAt,updatedAt
        from student 
        where studentId &lt; #{studentId}
        order by studentId desc
        limit #{pageSize}
    </select>
    
    <update id="updateStudentInfo" parameterType="Student">
        update student
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="college != null">
                college = #{college},
            </if>
            <if test="major != null">
                major = #{major},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        where studentId = #{studentId}
    </update>
</mapper>